{% extends "main.html.twig" %}

{% block title %}{{ 'status.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('current_status') }}">{{ 'status.label'|trans }}</a> </li>
        <li class="breadcrumb-item"><a href="{{ path('status_room', { alias: device.room.alias}) }}">{{ device.room.name }}</a></li>
        <li class="breadcrumb-item">{{ device.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% if status.problems is empty %}
        <div class="bs-callout bs-callout-success">
            <h4>{{ 'status.noproblems.hooray'|trans }}</h4>

            <p>{{ 'status.noproblems.info'|trans({'%device%': device.name, '%type%': device.type }) }}</p>
        </div>
    {% else %}
        <div class="bs-callout bs-callout-danger">
            <h4>{{ 'status.overview.header_details'|trans({'%target%': device.name }) }}</h4>
            <p>
                {{ 'status.overview.problems'|trans({ '%count%': status.problemCount })|raw }}
            </p>
        </div>
    {% endif %}


    {% for announcement in announcements %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ announcement.title }}</h4>
            {{ announcement.details|markdown }}

            <a href="{{ path('show_announcement', { id: announcement.id }) }}" class="btn btn-sm btn-primary">Details anzeigen</a>
        </div>
    {% endfor %}


    {% for problem in status.problems %}
        <div class="card">
            <div class="card-header">
                {{ problem.problemType }}

                {% if problem.isOpen %}
                    <span class="badge badge-outline-success">
                            <i class="fas fa-info-circle"></i> {{ 'status.open'|trans }}
                        </span>
                {% else %}
                    <span class="badge badge-outline-danger">
                            <i class="fas fa-check-circle"></i> {{ 'status.closed'|trans }}
                        </span>
                {% endif %}

                <span class="badge badge-outline-{{ problem.priority|priority_class }}">
                    <i class="fas fa-fire"></i> {{ problem.priority|priority}}
                </span>

                {% if problem.isMaintenance %}
                    <span class="badge badge-outline-secondary">
                            <i class="fas fa-wrench"></i> {{ 'label.maintenance'|trans }}
                        </span>
                {% endif %}
            </div>

            <div class="card-body">{{ problem.content }}</div>

            <div class="card-footer">
                <a href="{{ path('show_problem', { id: problem.id }) }}" class="btn btn-primary btn-sm" role="button">
                    {{ 'status.details'|trans }}
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}