{% extends "main.html.twig" %}

{% block title %}{{ 'status.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('current_status') }}">{{ 'status.label'|trans }}</a> </li>
        <li class="breadcrumb-item"><a href="{{ path('status_room', { uuid: device.room.uuid}) }}">{{ device.room.name }}</a></li>
        <li class="breadcrumb-item">{{ device.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% if status.problems is empty and status.maintenance is empty %}
        <div class="bs-callout bs-callout-success">
            <h4>{{ 'status.noproblems.hooray'|trans }}</h4>

            <p>{{ 'status.noproblems.info'|trans({'%device%': device.name, '%type%': device.type }) }}</p>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <div class="bs-callout bs-callout-{% if status.problemCount == 0 %}success{% else %}danger{% endif %}">
                    <h4>{{ 'status.overview.header_details1'|trans({'%target%': device.name }) }}</h4>
                    <p>
                        {{ 'status.overview.problems'|trans({ '%count%': status.problemCount })|raw }}
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="m-0 bs-callout bs-callout-{% if status.maintenanceCount == 0 %}success{% else %}warning{% endif %}">
                    <h4>{{ 'status.overview.header_details2'|trans({'%target%': device.name }) }}</h4>
                    <p>
                        {{ 'status.overview.maintenance'|trans({ '%count%': status.maintenanceCount })|raw }}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}


    {% for announcement in announcements %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ announcement.title }}</h4>
            {{ announcement.details|markdown }}

            <a href="{{ path('show_announcement', { uuid: announcement.uuid }) }}" class="btn btn-sm btn-primary">Details anzeigen</a>
        </div>
    {% endfor %}

    {% for problem in status.problems|merge(status.maintenance) %}
        <div class="card">
            <div class="card-header">
                {{ problem.problemType }}

                {% if problem.isOpen %}
                    <span class="badge badge-outline-success">
                            <i class="fas fa-info-circle"></i> {{ 'status.open'|trans }}
                        </span>
                {% else %}
                    <span class="badge badge-outline-danger">
                            <i class="fas fa-check-circle"></i> {{ 'status.closed'|trans }}
                        </span>
                {% endif %}

                <span class="badge badge-outline-{{ problem.priority|priority_class }}">
                    <i class="fas fa-fire"></i> {{ problem.priority|priority}}
                </span>

                {% if problem.isMaintenance %}
                    <span class="badge badge-outline-secondary">
                            <i class="fas fa-wrench"></i> {{ 'label.maintenance'|trans }}
                        </span>
                {% endif %}
            </div>

            <div class="card-body">{{ problem.content }}</div>

            <div class="card-footer">
                <a href="{{ path('show_problem', { uuid: problem.uuid }) }}" class="btn btn-primary btn-sm" role="button">
                    {{ 'status.details'|trans }}
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
