{% extends "main.html.twig" %}

{% block title %}Aktueller Status{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ 'status.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col bs-callout bs-callout-{% if status.problemCount == 0 %}success{% else %}danger{% endif %}">
            <h4>{{ 'status.overview.header'|trans }}</h4>
            <p>
                {{ 'status.overview.problems'|trans({'%count%': status.problemCount })|raw }}
            </p>
        </div>

        <div class="col bs-callout bs-callout-{% if status.maintenanceCount == 0 %}success{% else %}warning{% endif %}">
            <h4>{{ 'status.overview.header'|trans }}</h4>
            <p>
                {{ 'status.overview.maintenance'|trans({ '%count%': status.maintenanceCount })|raw }}
            </p>
        </div>

        <div class="col bs-callout bs-callout-{% if status.announcementCount == 0 %}success{% else %}info{% endif %}">
            <h4>{{ 'status.overview.header'|trans }}</h4>
            <p>
                {{ 'status.overview.announcements'|trans({ '%count%': status.announcementCount })|raw }}
            </p>
        </div>
    </div>

    {% for categoryStatus in status.roomCategoryStatuses %}
        <div class="card">
            <div class="card-header">
                {{ categoryStatus.category.name }}
                <span class="badge badge-{% if categoryStatus.problemCount > 0 %}danger{% else %}success{% endif %}">
                    {{ 'status.problems'|trans({'%count%': categoryStatus.problemCount}) }}
                </span>

                {% if categoryStatus.maintenanceCount > 0 %}
                    <span class="badge badge-warning">
                        {{ 'status.maintenance'|trans({'%count%': categoryStatus.maintenanceCount}) }}
                    </span>
                {% endif %}
            </div>

            <div class="card-body">
                <div class="row p-0">
                    {% for roomStatus in categoryStatus.roomStatuses %}
                        <div class="col-md-6 clearfix">
                            <p class="float-left">
                                <a href="{{ path('status_room', { alias: roomStatus.room.alias }) }}">{{ roomStatus.room.name }}</a>
                            </p>

                            <div class="float-right">
                                {% if roomStatus.problemCount > 0 %}
                                    <span class="badge badge-danger">
                                        {{ 'status.problems'|trans({'%count%': roomStatus.problemCount}) }}
                                    </span>
                                    &nbsp;
                                {% endif %}

                                {% if roomStatus.maintenanceCount > 0 %}
                                    <span class="badge badge-warning">
                                        {{ 'status.maintenance'|trans({'%count%': roomStatus.maintenanceCount}) }}
                                    </span>
                                    &nbsp;
                                {% endif %}

                                {% if roomStatus.announcementCount > 0 %}
                                    <span class="badge badge-primary">
                                        {{ 'status.announcements'|trans({'%count%': roomStatus.announcementCount}) }}
                                    </span>
                                    &nbsp;
                                {% endif %}

                                {% if roomStatus.problemCount == 0 and roomStatus.maintenanceCount == 0 and roomStatus.announcementCount == 0 %}
                                    <span class="badge badge-success">
                                        {{ 'status.no_problems'|trans }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}