{% extends "main.html.twig" %}

{% block title %}{{ 'status.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('current_status') }}">{{ 'status.label'|trans }}</a> </li>
        <li class="breadcrumb-item">{{ room.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0 mb-3">
        <div class="row">
            <div class="col">
                <div class="m-0 bs-callout bs-callout-{% if status.problemCount == 0 %}success{% else %}danger{% endif %}">
                    <h4>{{ 'status.overview.header_details'|trans({'%target%': room.name }) }}</h4>
                    <p>
                        {{ 'status.overview.problems'|trans({ '%count%': status.problemCount })|raw }}
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="m-0 bs-callout bs-callout-{% if status.maintenanceCount == 0 %}success{% else %}warning{% endif %}">
                    <h4>{{ 'status.overview.header_details'|trans({'%target%': room.name }) }}</h4>
                    <p>
                        {{ 'status.overview.maintenance'|trans({ '%count%': status.maintenanceCount })|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% for announcement in status.announcements %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ announcement.title }}</h4>
            {{ announcement.details|markdown }}

            <a href="{{ path('show_announcement', { uuid: announcement.uuid }) }}" class="btn btn-sm btn-primary">Details anzeigen</a>
        </div>
    {% endfor %}

    {% for deviceTypeStatus in status.deviceTypeStatuses %}
        <div class="card">
            {% set summary = [ ] %}
            {% if deviceTypeStatus.problemCount > 0 %}
                {% set summary = summary|merge(['status.problems'|trans({'%count%': deviceTypeStatus.problemCount})]) %}
            {% endif %}

            {% if deviceTypeStatus.maintenanceCount > 0 %}
                {% set summary = summary|merge(['status.maintenance'|trans({'%count%': deviceTypeStatus.maintenanceCount})]) %}
            {% endif %}

            {% if deviceTypeStatus.problemCount == 0 and deviceTypeStatus.maintenanceCount == 0 %}
                {% set summary = [ 'status.no_problems'|trans ] %}
            {% endif %}

            <div class="card-header">
                {{ deviceTypeStatus.deviceType.name }}

                <span class="badge badge-{% if deviceTypeStatus.problemCount > 0 %}danger{% else %}success{% endif %}">
                    {{ 'status.problems'|trans({'%count%': deviceTypeStatus.problemCount}) }}
                </span>

                {% if deviceTypeStatus.maintenanceCount > 0 %}
                    <span class="badge badge-warning">
                        {{ 'status.maintenance'|trans({'%count%': deviceTypeStatus.maintenanceCount}) }}
                    </span>
                {% endif %}
            </div>

            <div class="list-group list-group-flush">
                {% for deviceStatus in deviceTypeStatus.deviceStatuses %}
                <a href="{{ path('status_device', { uuid: deviceStatus.device.uuid }) }}" class="list-group-item list-group-item-action">
                    <div class="d-flex">
                        <p class="align-self-center mb-0 mr-auto">
                            {{ deviceStatus.device.name }}
                        </p>

                        <p class="align-self-center mb-0">
                            {% if deviceStatus.problemCount > 0 %}
                                <span class="badge badge-danger">
                                    {{ 'status.problems'|trans({'%count%': deviceStatus.problemCount}) }}
                                </span>
                            {% endif %}

                            {% if deviceStatus.maintenanceCount > 0 %}
                                <span class="badge badge-warning">
                                    {{ 'status.maintenance'|trans({'%count%': deviceStatus.maintenanceCount}) }}
                                </span>
                            {% endif %}

                            {% if deviceStatus.problemCount == 0 and deviceStatus.maintenanceCount == 0 %}
                                <span class="badge badge-success">
                                    {{ 'status.no_problems'|trans }}
                                </span>
                            {% endif %}
                        </p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endblock %}