{% extends "main.html.twig" %}

{% block title %}{{ 'announcements.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ 'announcements.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% for category in categories %}
        <div class="card">
            <div class="card-header">{{ category.name }} <span class="badge badge-secondary badge-pill">{{ category.announcements|length }}</span></div>

            <div class="list-group list-group-flush">
                {% for announcement in category.announcements %}
                    <a href="{{ path('show_announcement', { uuid: announcement.uuid }) }}" class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <p class="align-self-center mb-0 mr-auto">
                                {{ announcement.title }}
                            </p>

                            <p class="align-self-center mb-0">
                                <i class="fas fa-clock-o"></i>
                                {% if announcement.endDate is null %}
                                    {{ 'announcements.timeopen'|trans({'%start%': announcement.startDate|format_date }) }}
                                {% else %}
                                    {{ 'announcements.time'|trans({'%start%': announcement.startDate|format_date, '%end%': announcement.endDate|format_date }) }}
                                {% endif %}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}