{% extends "main.html.twig" %}

{% block title %}{{ announcement.title }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('announcements') }}">{{ 'announcements.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ announcement.title }}</h5>

                        {{ announcement.details|markdown }}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('edit_announcement', { uuid: announcement.uuid }) }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-edit"></i> {{ 'announcements.edit.label'|trans }}
                            </a>

                            <a href="{{ path('remove_announcement', { uuid: announcement.uuid }) }}" class="list-group-item list-group-item-action list-group-item-danger">
                                <i class="fas fa-trash"></i> {{ 'announcements.remove.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'label.timewindow'|trans }}</h5>

                        {% if announcement.endDate is null %}
                            {{ 'announcements.timeopen'|trans({'%start%': announcement.startDate|format_date }) }}
                        {% else %}
                            {{ 'announcements.time'|trans({'%start%': announcement.startDate|format_date, '%end%': announcement.endDate|format_date }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'announcements.rooms'|trans }}</h5>

                        <ul class="list-unstyled m-0">
                            {% for room in announcement.rooms %}
                                <li>{{ room.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}