{% extends "main.html.twig" %}

{% block title %}{{ 'problem_types.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ 'problem_types.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% for category in categories %}
                    <div class="card">
                        <div class="card-header">{{ category.name }} <span class="badge text-bg-secondary rounded-pill">{{ category.problemTypes|length }}</span> </div>

                        <table class="table table-striped table-hover">
                            <colgroup>
                                <col />
                                <col class="column-md" />
                                <col class="column-sm" />
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.name'|trans }}</th>
                                <th>{{ 'label.problems'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for type in category.problemTypes %}
                                <tr>
                                    <td class="align-middle">{{ type.name }}</td>
                                    <td class="align-middle">{{ type.problems.count() }}</td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="{{ path('edit_problemtype', { uuid: type.uuid }) }}" class="dropdown-item">
                                                    <i class="fas fa-edit"></i> {{ 'actions.edit'|trans }}
                                                </a>

                                                <a href="{{ path('remove_problemtype', { uuid: type.uuid }) }}" class="dropdown-item text-danger">
                                                    <i class="fas fa-trash"></i> {{ 'actions.remove'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_problemtype') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'problem_types.add.label'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}