{% extends "main.html.twig" %}

{% block title %}{{ 'problem_types.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ 'problem_types.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% for category in categories %}
    <div class="card">
        <div class="card-header">{{ category.name }} <span class="badge badge-secondary badge-pill">{{ category.problemTypes|length }}</span> </div>

        <table class="table table-striped table-hover table-bordered">
            <colgroup>
                <col />
                <col class="column-md" />
                <col class="column-md" />
            </colgroup>

            <thead>
            <tr>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.problems'|trans }}</th>
                <th>{{ 'actions.label'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for type in category.problemTypes %}
                <tr>
                    <td>{{ type.name }}</td>
                    <td>{{ type.problems.count() }}</td>
                    <td>
                        <a href="{{ path('edit_problemtype', { id: type.id }) }}" class="btn btn-sm btn-primary" title="{{ 'actions.edit'|trans }}">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a href="{{ path('remove_problemtype', {id: type.id }) }}" class="btn btn-sm btn-danger" title="{{ 'actions.remove'|trans }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

    <div class="buttons">
        <a href="{{ path('add_problemtype') }}" class="btn btn-sm btn-primary">
            <i class="fas fa-plus"></i> {{ 'problem_types.add.label'|trans }}
        </a>
    </div>
{% endblock%}