{% extends "main.html.twig" %}

{% block title %}{{ 'announcements.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ 'announcements.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% for category in categories %}
                    <div class="card">
                        <div class="card-header">{{ category.name }} <span class="badge badge-secondary badge-pill">{{ category.announcements|length }}</span></div>

                        <table class="table table-striped table-hover table-bordered">
                            <colgroup>
                                <col />

                                <col class="column-md" />
                                <col class="column-md" />
                                <col class="column-md" />
                                <col class="column-md" />
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.title'|trans }}</th>
                                <th>{{ 'label.start'|trans }}</th>
                                <th>{{ 'label.end'|trans }}</th>
                                <th>{{ 'label.rooms'|trans }}</th>
                                <th>{{ 'actions.label'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for announcement in category.announcements %}
                                <tr>
                                    <td class="align-middle">{{ announcement.title }}</td>
                                    <td class="align-middle">{{ announcement.startDate|format_date }}</td>
                                    <td class="align-middle">
                                        {% if announcement.endDate is null %}
                                            Nie
                                        {% else %}
                                            {{ announcement.endDate|format_date }}
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ announcement.rooms|length }}</td>
                                    <td class="align-middle">
                                        <a href="{{ path('edit_announcement', { uuid: announcement.uuid }) }}" class="btn btn-sm btn-primary" title="{{ 'actions.edit'|trans }}">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                        <a href="{{ path('remove_announcement', { uuid: announcement.uuid }) }}" class="btn btn-sm btn-danger" title="{{ 'actions.remove'|trans }}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_announcement') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'announcements.add.label'|trans }}
                        </a>

                        <a href="{{ path('admin_announcementcategories') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-cogs"></i> {{ 'announcements.categories.label'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="buttons">

    </div>
{% endblock%}