{% extends "main.html.twig" %}

{% block title %}{{ 'problems.comments.edit.label'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="contentbox">
        <h4>Kommentar bearbeiten</h4>

        {{ form_widget(form) }}
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-save"></i> {{ 'actions.save'|trans }}
        </button>

        <a href="{{ path('show_problem', { id: problem.id }) }}" class="btn btn-sm btn-secondary">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}