{% extends "main.html.twig" %}

{% block title %}{{ 'placards.edit.label'|trans }}{% endblock %}

{% form_theme form _self %}

{% block post_javascript %}
    <script type="text/javascript" src="{{ asset('build/placards.js') }}"></script>
{% endblock %}

{% block placard_device_widget %}
    <tr>
        <td>{{ form_widget(form.source) }}</td>
        <td>{{ form_widget(form.beamer) }}</td>
        <td>{{ form_widget(form.av) }}</td>
        <td>
            <a href="#" onclick="$(this).parent().parent().remove(); return false;" class="btn btn-danger btn-sm" role="button">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('placards') }}">{{ 'placards.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ room.name }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.group_general) }}

    <div class="card">
        <div class="card-header">Geräte</div>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-devices">
                <colgroup>
                    <col class="column-lg">
                    <col class="column-lg">
                    <col class="column-lg">
                    <col />
                </colgroup>

                <thead>
                <tr>
                    <th>{{ 'label.source'|trans }}</th>
                    <th>{{ 'label.beamer'|trans }}</th>
                    <th>{{ 'label.av'|trans }}</th>
                    <th> </th>
                </tr>
                </thead>

                <tbody class="devices">
                {% for device in form.devices %}
                    {{ form_widget(device) }}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- {{ form_widget(form.devices) }}-->

        <div class="card-footer">
            <a href="#" class="btn btn-sm btn-secondary add-placard">
                <i class="fas fa-plus"></i> {{ 'devices.add.label'|trans }}
            </a>
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-save"></i> {{ 'actions.save'|trans }}
        </button>

        <a href="{{ path('placards') }}" class="btn btn-sm btn-secondary">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}