{% extends "main.html.twig" %}

{% block title %}{{ 'placards.label'|trans }}{% endblock %}

{% block content %}
    <div class="contentbox">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <colgroup>
                    <col />
                    <col class="column-lg" />
                    <col class="column-lg" />
                </colgroup>

                <thead>
                <tr>
                    <th>{{ 'label.room'|trans }}</th>
                    <th>{{ 'label.last_change'|trans }}</th>
                    <th>{{ 'actions.label'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% for placard in placards %}
                <tr>
                    <td><a href="{{ path('edit_placard', { alias: placard.room.alias }) }}">{{ placard.room }}</a><p>{{ placard.header }}</p></td>
                    <td>{{ placard.updatedAt|moment }}</td>
                    <td>
                        <a href="{{ path('edit_placard', { alias: placard.room.alias }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                        </a>
                        <a href="{{ path('pdf_placard', { alias: placard.room.alias }) }}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-download"></i> {{ 'placards.export'|trans }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container hidden-print">
        <a href="{{ path('add_placard') }}" class="btn btn-primary btn-sm" role="button">
            <i class="fa fa-plus"></i> {{ 'placards.add.label'|trans }}
        </a>
    </div>
{% endblock %}