{% extends "main.html.twig" %}

{% block title %}{{ 'statistics.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-play"></i> {{ 'statistics.evaluate'|trans }}
        </button>
    </div>

    {{ form_end(form) }}

    {% if result != null and result|length > 0 %}
        <div class="card">
            <div class="card-header">{{ 'statistics.results'|trans }}</div>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ 'label.name'|trans }}</th>
                    <th>{{ 'label.problems'|trans }}</th>
                    <th> </th>
                </tr>
                </thead>

                <tbody>
                {% for item in result %}
                    <tr>
                        <td class="align-middle">{{ item.item }}</td>
                        <td class="align-middle">{{ item.num }}</td>
                        <td class="align-middle">{{ item.percentage|round }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card">
            <div class="card-header">{{ 'statistics.graph'|trans }}</div>

            <div class="card-body" style="position: relative; width: 70%;">
                <canvas id="chart"></canvas>
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/Chart.min.js') }}"></script>

    {% if result != null and result|length > 0 %}
    <script>
        var data = {
            labels: [
                {% for item in result %}
                "{{ item.item }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            datasets: [
                {
                    data: [
                        {% for item in result %}
                        {{ item.num }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for item in result %}
                        'hsl({{ (360 * loop.index / result|length)|round }}, 100%, 50%)'{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    hoverBackgroundColor: [
                        {% for item in result %}
                        'hsl({{ (360 * loop.index / result|length)|round }}, 70%, 50%)'{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ]
                }
            ]
        };

        var font = "'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";

        var ctx = document.getElementById('chart');
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: true,
                aspectRatio: 2,
                defaultFontFamily: font,
                legend: {
                    position: 'right',
                    labels: {
                        fontFamily: font
                    }
                },
                tooltips: {
                    titleFontFamily: font,
                    bodyFontFamily: font,
                }
            }
        });
    </script>
    {% endif %}
{% endblock %}