{% extends "main.html.twig" %}

{% block title %}{{ 'wiki.articles.edit.label'|trans }}{% endblock %}

{% block post_javascript %}
    <script type="text/javascript" src="{{ asset('build/ace/ace.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/editor.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    {% include 'wiki/breadcrumb.html.twig' with { item: article, append: block('title') } only %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-save"></i> {{ 'actions.save'|trans }}
        </button>

        {% if article.category is null %}
            <a href="{{ path('wiki') }}" class="btn btn-sm btn-secondary">
                {{ 'actions.cancel'|trans }}
            </a>
        {% else %}
            <a href="{{ path('wiki_article', { uuid: article.uuid, slug: article.slug }) }}" class="btn btn-sm btn-secondary">
                {{ 'actions.cancel'|trans }}
            </a>
        {% endif %}
    </div>
    {{ form_end(form) }}
{% endblock %}