{% extends "main.html.twig" %}

{% block title %}{{ 'problems.add.label'|trans }}{% endblock %}

{% block post_javascript %}
    <script type="text/javascript" src="{{ asset('build/editor.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('problems') }}">{{ 'problems.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.general_group) }}

    <div class="card">
        <div class="card-header">{{ 'problems.add.existing.label'|trans }}</div>

        <div class="card-body" id="existing_problems">
            <div class="bs-callout bs-callout-info">
                <p>{{ 'problems.add.existing.choose'|trans }}</p>
            </div>
        </div>
    </div>

    {{ form_row(form.details_group) }}

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('problems') }}" class="btn btn-sm btn-secondary">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}


{% endblock %}