{% extends "main.html.twig" %}

{% block title %}{{ problem|problem }} {% if problem.isMaintenance %}({{ 'label.maintenance'|trans }}){% endif %}{% endblock %}

{% block post_javascript %}
    <script type="text/javascript" src="{{ asset('build/ace/ace.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/editor.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('problems') }}">{{ 'problems.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row row-cols-xl-6 row-cols-lg-3 row-cols-md-2 row-cols-1">
                                <div class="col">
                                    <dt class="text-uppercase text-muted">{{ 'label.room'|trans }}</dt>
                                    <dd>{{ problem.device.room.name }}</dd>
                                </div>

                                <div class="col">
                                    <dt class="text-uppercase text-muted">{{ 'label.device'|trans }}</dt>
                                    <dd>{{ problem.device.name }}</dd>
                                </div>
                                <div class="col">
                                    <dt class="text-uppercase text-muted">{{ 'label.problemtype'|trans }}</dt>
                                    <dd>{{ problem.problemType.name }}</dd>
                                </div>

                                <div class="col">
                                    <dt class="text-uppercase text-muted">{{ 'label.status'|trans }}</dt>
                                    <dd>
                                        {% if problem.isOpen %}
                                            <span class="badge text-bg-success">
                                                <i class="fas fa-info-circle"></i> {{ 'status.open'|trans }}
                                            </span>
                                        {% else %}
                                            <span class="badge text-bg-danger">
                                                <i class="fas fa-check-circle"></i> {{ 'status.closed'|trans }}
                                            </span>
                                        {% endif %}
                                    </dd>
                                </div>

                                <div class="col">
                                    <dt class="text-uppercase text-muted">{{ 'label.priority'|trans }}</dt>
                                    <dd>
                                        <span class="badge text-bg-{{ problem.priority|priority_class }}">
                                            <i class="fas fa-fire"></i> {{ problem.priority|priority}}
                                        </span>
                                    </dd>
                                </div>

                                <div class="col">
                                    <dt class="text-uppercase text-muted">{{ 'label.status'|trans }}</dt>
                                    <dd>
                                        {% if problem.isMaintenance %}
                                            <span class="badge text-bg-secondary">
                                                <i class="fas fa-wrench"></i> {{ 'label.maintenance'|trans }}
                                            </span>
                                        {% endif %}
                                    </dd>
                                </div>

                                <div class="col">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h4>







                </h4>

                <ul class="timeline">
                    <li>
                        <time class="time" datetime="{{ problem.createdAt|w3cdatetime }}" title="{{ problem.createdAt|format_datetime }}">
                            <span>{{ problem.createdAt|format_time }}</span>
                            <span>{{ problem.createdAt|format_date }}</span>
                        </time>

                        <div class="icon">
                            <i class="fas fa-asterisk"></i>
                        </div>

                        <div class="label card p-0">
                            <div class="card-header d-flex align-items-center">
                                <div class="flex-fill">
                                    {{ 'problems.history.create'|trans({'%user%': problem.createdBy}) }}
                                </div>

                                {% if is_granted('edit', problem) %}
                                    <a href="{{ path('edit_problem', { uuid: problem.uuid }) }}" class="btn btn-primary btn-sm" role="button" title="{{ 'actions.edit'|trans }}">
                                        <i class="fas fa-edit"> </i>
                                    </a>
                                {% endif %}
                            </div>

                            <div class="card-body">
                                {{ problem.content|markdown }}
                            </div>


                        </div>
                    </li>

                    {% for item in history %}
                        <li>
                            <time class="time" datetime="{{ item.dateTime|w3cdatetime }}" title="{{ item.dateTime|format_datetime }}">
                                <span>{{ item.dateTime|format_time }}</span>
                                <span>{{ item.dateTime|format_date }}</span>
                            </time>

                            {% if item is instanceof('App\\Helper\\Problems\\History\\PropertyChangedHistoryItem') %}
                                <div class="icon">
                                    <i class="{{ item|history_icon }}"></i>
                                </div>
                                <div class="label">
                                    {{ item.text }}
                                </div>
                            {% elseif item is instanceof('App\\Helper\\Problems\\History\\CommentHistoryItem') %}
                                <div class="icon">
                                    <i class="fas fa-comment"></i>
                                </div>
                                <div class="label card p-0">
                                    <div class="card-header d-flex align-items-center">
                                        <div class="flex-fill">
                                            {{ 'problems.comments.head'|trans({ '%user%': item.comment.createdBy }) }}

                                            {% if item.comment.updatedAt is not null %}
                                                <i class="fas fa-edit"></i> <span title="{{ item.comment.updatedAt|format_datetime }}">{{ 'problems.comments.edited'|trans({'%date%': item.comment.updatedAt|ago}) }}</span>
                                            {% endif %}
                                        </div>

                                        {% if is_granted('edit', item.comment) or is_granted('remove', item.comment) %}
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                {% if is_granted('edit', item.comment) %}
                                                    <a href="{{ path('edit_comment', { uuid: problem.uuid, commentUuid: item.comment.uuid }) }}" class="dropdown-item">
                                                        <i class="fas fa-edit"></i> {{ 'actions.edit'|trans }}
                                                    </a>
                                                {% endif %}
                                                {% if is_granted('remove', item.comment) %}
                                                    <a href="{{ path('remove_comment', { uuid: problem.uuid, commentUuid: item.comment.uuid }) }}" class="dropdown-item text-danger">
                                                        <i class="fas fa-trash"></i> {{ 'actions.remove'|trans}}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="card-body">
                                        {{ item.comment.content|markdown }}
                                    </div>
                                </div>
                            {% else %}

                            {% endif %}
                        </li>
                    {% endfor %}

                    {% if is_granted('add_comment', problem) %}
                        <li>
                            <time class="time d-none d-sm-block">
                                <span>{{ 'now'|trans }}</span>
                            </time>

                            <div class="icon d-none d-sm-block">
                                <i class="fas fa-comment"></i>
                            </div>

                            <div class="label card p-0">
                                {{ form_start(formComment) }}

                                <div class="card-body">
                                    {{ form_widget(formComment.content) }}
                                </div>

                                <div class="card-footer">
                                    <button class="btn btn-primary btn-sm">
                                        <i class="fas fa-send"></i> {{ 'actions.add'|trans }}
                                    </button>
                                </div>

                                {{ form_end(formComment) }}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% if is_granted('status', problem) %}
                            <a href="#" data-submit="#form-status" class="list-group-item list-group-item-action {% if problem.isOpen %}list-group-item-success{% else %}list-group-item-danger{% endif %}">
                                {% if problem.isOpen %}
                                    <i class="far fa-check-circle"></i> {{ 'problems.status.close'|trans }}
                                {% else %}
                                    <i class="far fa-times-circle"></i> {{ 'problems.status.reopen'|trans }}
                                {% endif %}

                                <form action="{{ path('change_status', { uuid: problem.uuid }) }}" method="post" id="form-status" class="d-none">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(statusCsrfTokenId) }}">
                                </form>
                            </a>
                        {% endif %}

                        {% if is_granted('maintenance', problem) %}
                            <a href="#" data-submit="#form-maintenance" class="list-group-item list-group-item-action">
                                {% if problem.isOpen %}
                                    <i class="fas fa-wrench"></i> {{ 'problems.maintenance.set'|trans }}
                                {% else %}
                                    <i class="fas fa-wrench"></i> {{ 'problems.maintenance.unset'|trans }}
                                {% endif %}

                                <form action="{{ path('change_maintenance', { uuid: problem.uuid }) }}" method="post" id="form-maintenance" class="d-none">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(maintenanceCsrfTokenId) }}">
                                </form>
                            </a>
                            </form>
                        {% endif %}

                        {% if is_granted('remove', problem) %}
                            <a href="{{ path('remove_problem', { uuid: problem.uuid }) }}" class="list-group-item list-group-item-action" role="button">
                                <span class="fas fa-trash"> </span> {{ 'problems.remove.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'label.assignee'|trans }}</h5>

                        {% if problem.assignee is null %}
                            {{ 'problems.assignee.none'|trans }}
                        {% else %}
                            {{ problem.assignee }}
                        {% endif %}

                        {% if is_granted('assignee', problem) %}
                            <form action="{{ path('change_assignee', { uuid: problem.uuid }) }}" method="post" class="form-inline">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token(assigneeCsrfTokenId) }}" />

                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fas fa-bullhorn"></i> {% if problem.assignee is null %}{{ 'problems.assignee.take'|trans }}{% else %}{{ 'problems.assignee.drop'|trans }}{% endif %}
                                </button>
                            </form>
                        {% endif %}
                    </div>

                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'label.participants'|trans }} <span class="badge text-bg-secondary rounded-pill">{{ participants|length }}</span> </h5>

                        <ul class="list-unstyled m-0 ">
                            {% for participant in participants %}
                                <li>{{ participant }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {% if relatedProblems|length > 0 %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'problems.related.label'|trans }}</h5>
                        </div>

                        <div class="list-group list-group-flush">
                            {% for problem in relatedProblems %}
                                <a href="{{ path('show_problem', { uuid: problem.uuid }) }}" class="list-group-item list-group-item-action">
                                    {{ problem|problem }}

                                    {% if problem.isOpen %}
                                        <span class="badge text-bg-success">
                                            <i class="fas fa-info-circle"></i> {{ 'status.open'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge text-bg-danger">
                                            <i class="fas fa-check-circle"></i> {{ 'status.closed'|trans }}
                                        </span>
                                    {% endif %}

                                    <span class="badge text-bg-{{ problem.priority|priority_class }}">
                                        <i class="fas fa-fire"></i> {{ problem.priority|priority}}
                                    </span>

                                    {% if problem.isMaintenance %}
                                        <span class="badge text-bg-secondary">
                                            <i class="fas fa-wrench"></i> {{ 'label.maintenance'|trans }}
                                        </span>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}