{% extends "main.html.twig" %}

{% block title %}{{ article.name }}{% endblock %}

{% block breadcrumb %}
    {% include 'wiki/breadcrumb.html.twig' with { item: article } only %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9 pl-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ article.name }}</h5>

                    {{ article.content|markdown }}
                </div>
            </div>
        </div>

        <div class="col-md-3 pr-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'label.details'|trans }}</h5>

                    <p>
                        <span class="text-muted">{{ 'label.created'|trans }}</span> {{ article.createdAt|moment }}
                    </p>
                    <p>
                        <span class="text-muted">{{ 'label.updated'|trans }}</span> {% if article.updatedAt is null %}{{ 'label.never'|trans }}{% else %}{{ article.updatedAt|moment }}{% endif %}
                    </p>
                    <p>
                        <span class="text-muter">{{ 'label.author'|trans }}</span> {{ article.createdBy }}
                    </p>
                    <p>
                        <span class="text-muted">{{ 'label.updateauthor'|trans }}</span> {% if article.updatedBy is null %}{{ 'label.nobody'|trans }}{% else %}{{ article.updatedBy }}{% endif %}
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'label.access'|trans }}</h5>

                    <p>{{ article.access|access_level }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden-print">
        {% if is_granted('edit', article) %}
            <a href="{{ path('edit_wiki_article', { id: article.id, slug: article.slug }) }}" class="btn btn-secondary btn-sm" role="button">
                <i class="fas fa-edit"></i> {{ 'wiki.articles.edit.label'|trans }}
            </a>
        {% endif %}

        {% if is_granted('remove', article) %}
            <a href="{{ path('remove_wiki_article', { id: article.id, slug: article.slug }) }}" class="btn btn-danger btn-sm" role="button">
                <i class="fas fa-trash"></i> {{ 'wiki.articles.remove.label'|trans }}
            </a>
        {% endif %}
    </div>

    <div class="container hidden-print">
        {% if article.category is null %}
            <a href="{{ path('wiki') }}" class="btn btn-sm btn-secondary">
                {{ 'actions.back'|trans }}
            </a>
        {% else %}
            <a href="{{ path('wiki_category', { id: article.category.id, slug: article.category.slug }) }}" class="btn btn-sm btn-secondary">
                {{ 'actions.back'|trans }}
            </a>
        {% endif %}
    </div>
{% endblock %}