{% extends "main.html.twig" %}

{% block title %}{{ 'devices.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ 'devices.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card hidden-print clearfix">
        <div class="card-body p-2">
            <form class="form-inline float-right" role="form" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" id="q" placeholder="{{ 'devices.search'|trans }}" value="{{ q }}" />
                    <span class="input-group-append">
                        <button type="submit" class="btn btn-primary">{{ 'actions.search'|trans }}</button>

                        {% if q is not empty %}
                            <a href="{{ path('devices') }}" class="btn btn-secondary" role="button">Suche beenden</a>
                        {% endif %}
                    </span>
                </div>
            </form>
        </div>
    </div>

    {% for type in types %}
        <div class="card">
            <div class="card-header">{{ type.name }} <span class="badge badge-secondary badge-pill">{{ type.devices|length }}</span></div>

            <div class="card-body">
                <div class="row p-0">
                    {% for device in type.devices %}
                        <div class="col-md-6 clearfix">
                            <p class="float-left"><a href="{{ path('status_device', { id: device.id }) }}">{{ device.name }} [{{ device.room.name }}]</a></p>

                            <div class="float-right hidden-print">
                                <a href="{{ path('edit_device', { id: device.id }) }}" class="btn btn-sm btn-primary">
                                    <i class="fas fa-edit"></i> {{ 'actions.edit'|trans }}
                                </a>
                                <a href="{{ path('remove_device', { id: device.id }) }}" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash"></i> {{ 'actions.remove'|trans }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="buttons">
        <a href="{{ path('add_device') }}" class="btn btn-sm btn-primary">
            <i class="fas fa-plus"></i> {{ 'devices.add.label'|trans }}
        </a>
    </div>
{% endblock %}